<!DOCTYPE html>
<html>
<head>
<title>World Events</title>
<link href="/css/worldevents.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="container"></div>
<div id="connection-warning">
  <div>
    <span>Connection Lost!</span>
  </div>
</div>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="/js/datamaps.world.min.js"></script>
<script src="/js/worldevents.js"></script>
 
</body>
</html>
